*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
header{
    background-color: grey;
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 20px 30px;
    top: 0;
    left: 0;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.header-left h1{
    color:white;
}
.header-right{
    padding: 13px 30px;
}
#risultato{
    background-color: red;
    height: calc(100% - 100px);
    padding-top: 100px;
}
#risultato ul{
    font-size: 18px;
    color: white;
    padding-left: 20px;
    margin-top: 20px;
    list-style-type: none;
}
