*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding-top: 80px;
    background-image: url("img/sfondo_boolflix.jpg");
}
header{
    background-color: grey;
    width: 100%;
    position: fixed;
    padding: 20px 30px;
    top: 0;
    left: 0;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
#ricerca{
    font-size: 15px;
    padding: 2px 3px 2px;
    border: 2px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
}
#pulsante-ricerca{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    border: 3px solid #444857;
    background: #444857;
    cursor: pointer;
}
.header-left h1{
    color:gold;
    padding-top: 8px;
    font-family: 'ABeeZee', sans-serif;
}
.header-right{
    padding: 13px 30px;
}
#risultato{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
#risultato ul{
    font-size: 18px;
    color: white;
    padding-left: 20px;
    margin-top: 20px;
    list-style-type: none;
    border: 1px solid white;
    width: 212px;
    margin-right: 25px;
    margin-top: 35px;
    background-color: black;
}
ul li{
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: 'ABeeZee', sans-serif;

}
i{
    color:gold;
}
img{
    height: 22px;
    margin-left: 4px;
}
